* {
    font-family: Roboto;
    font-weight: normal;
}

window {
    background: transparent;
}

box.main {
    background-color: rgba(0, 0, 0, 0.6);
}

text {
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);

    min-height: 30px;
    padding: 20px;
}

box.plugin.info {
    min-width: 200px;
}

list.plugin {
    background-color: rgba(0, 0, 0, 0);
}

label.match.title {
    font-size: 24px;
    color: rgb(230, 230, 230);
    padding: 10px;
}
label.match.description {
    font-size: 0px;
}
label.plugin.info {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.matches {
    background-color: rgba(0, 0, 0, 0);
}

.match {
    background: transparent;
}
.match:selected {
    background: rgba(255, 255, 255, 0.05);
}
